<div class="container">
    <h1 class="col-md-12 d-flex justify-content-center mt-4 mb-5">Cadastre o Produto</h1>
    <div class="mb-5">
        <div class="form-group">
          <label for="formGroupExampleInput">Nome:</label>
          <input type="text" class="form-control" id="nome" placeholder="Digite aqui o nome">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Preço:</label>
          <input type="text" class="form-control" id="preco" placeholder="Digite aqui o preço">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Imagem:</label>
            <input type="text" class="form-control" id="imagem" placeholder="Digite URL da imagem">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Quantidade em estoque:</label>
            <input type="text" class="form-control" id="qtdestoque" placeholder="Digite a quantidade em estoque">
          </div>
          <div class="container d-flex justify-content-end">
            <button type="submit" class="justify-content-end btn btn-primary w-25">Cadastrar</button>
          </div>
        </div>
</div>